<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="BusinessEventManagerServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://am2.praxedo.com/eTech/services/cxf/v6/BusinessEventManager"
                binding="customBinding" bindingConfiguration="BusinessEventManagerServiceSoapBinding"
                contract="BEM.BusinessEventManager" name="BusinessEventManagerPort" />
        </client>
    </system.serviceModel>
</configuration>