<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsHttpBinding_BusinessEventManger" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
</basicHttpBinding>

    </bindings>
    <client>
      <endpoint address="https://am2.praxedo.com/eTech/services/cxf/v6/BusinessEventManager"
          binding="basicHttpBinding" bindingConfiguration="wsHttpBinding_BusinessEventManger"
          contract="BEM.BusinessEventManager" name="BusinessEventManagerPort" />


    </client>
  </system.serviceModel>
</configuration>